extends layout

block content
  div.welcome
    div#pushFirstView.container
      h1 推送服务
      p 提供免费的推送服务
      button(class="btn btn-primary" disabled="disabled") 开始推送
    div#pushSecondView
      div#segment
        div(class="segmentView") 
          p.segmentTitle 第一步：上传推送证书
          button(class="btn btn-default btn-lg uploadButton") 我有推送证书
        div(class="segmentView") 
          p.segmentTitle 第二步：上传推送密钥
          button(class="btn btn-default btn-lg uploadButton") 我有推送密钥
        div(class="segmentView") 
          p.segmentTitle 第三步：DeviceToken
          input(class="form-control" id="deviceTokenInput" placeholder="请输入设备推送标示、DeviceToken")